altgraph==0.17
appdirs==1.4.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
distlib==0.3.1
docutils==0.16
et-xmlfile==1.0.1
filelock==3.0.12
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
future==0.18.2
greenlet==1.0.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip
lxml==4.6.3
MarkupSafe==1.1.1
multitasking==0.0.9
mysql==0.0.2
mysql-connector-python==8.0.23
mysqlclient==2.0.3
numpy==1.20.1
numpy-financial==1.0.0
openpyxl==3.0.7
pandas==1.2.3
pefile==2019.4.18
Pillow==8.1.2
protobuf==3.15.6
Pygments==2.8.1
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
PyMySQL==1.0.2
pypiwin32==223
python-dateutil==2.8.1
pytz==2021.1
pywin32==300
pywin32-ctypes==0.2.0
requests==2.25.1
selenium==3.141.0
six==1.15.0
soupsieve==2.2.1
SQLAlchemy==1.4.3
TA-Lib @ file:///C:/Users/Polzi/Documents/GitHub/TA_Lib-0.4.19-cp39-cp39-win_amd64.whl
urllib3==1.26.4
virtualenv==20.4.3
Werkzeug==1.0.1
xlwings==0.23.0
yfinance==0.1.59
